body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.card {
    width: 300px;
    border: 1px solid red;
    border-radius: 10px;
    overflow: hidden;



}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card-content {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card button {
    padding: 8px;
    border: 1px solid greenyellow;
    background-color: black;
    color: aliceblue;
    border-radius: 10px;
    cursor: pointer;
}